@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Default */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Themes */

html[class="theme-1"] {
  --main-background: hsl(222, 26%, 31%);
  --toggle-keys-background: hsl(223, 31%, 20%);
  --display-background: hsl(224, 36%, 15%);
  --main-key-background: hsl(30, 25%, 89%);
  --main-key-outline: hsl(28, 16%, 65%);
  --equal-key-background: hsl(6, 63%, 50%);
  --equal-key-outline: hsl(6, 70%, 34%);
  --other-key-background: hsl(225, 21%, 49%);
  --other-key-outline: hsl(224, 28%, 35%);
  --other-text: hsl(0, 0%, 100%);
  --main-text: hsl(221, 14%, 31%);
}

html[class="theme-2"] {
  --main-background: hsl(0, 0%, 90%);
  --toggle-keys-background: hsl(0, 5%, 81%);
  --display-background: hsl(0, 0%, 93%);
  --main-key-background: hsl(45, 7%, 89%);
  --main-key-outline: hsl(35, 11%, 61%);
  --equal-key-background: hsl(25, 98%, 40%);
  --equal-key-outline: hsl(25, 99%, 27%);
  --other-key-background: hsl(185, 42%, 37%);
  --other-key-outline: hsl(185, 58%, 25%);
  --other-text: hsl(0, 0%, 100%);
  --main-text: hsl(60, 10%, 19%);
}

html[class="theme-3"] {
  --main-background: hsl(268, 75%, 9%);
  --toggle-keys-background: hsl(268, 71%, 12%);
  --display-background: hsl(268, 71%, 12%);
  --main-key-background: hsl(268, 47%, 21%);
  --main-key-outline: hsl(290, 70%, 36%);
  --equal-key-background: hsl(176, 100%, 44%);
  --equal-key-outline: hsl(177, 92%, 70%);
  --other-key-background: hsl(281, 89%, 26%);
  --other-key-outline: hsl(285, 91%, 52%);
  --other-text: hsl(0, 0%, 100%);
  --main-text: hsl(52, 100%, 62%);
  --other-text-equals: hsl(198, 20%, 13%);
}

/* Background and container*/

body {
  background-color: var(--main-background);
  font-family: 'League Spartan';
  text-rendering: optimizeSpeed;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#container {
  max-width: 60rem;
  margin: 2rem;
}

/* header */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--other-text);
  margin: 1rem 0;
}

html[class="theme-2"] #header {
  color: var(--main-text);
}

#header h1 {
  font-size: 1.4rem;
}

#header #themes-toggle {
  display: flex;
  text-align: center;
  align-items: center;
}

#header #themes-toggle p {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 1rem;
  font-size: 0.8rem;
}

#header #themes-toggle #toggle-text {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  margin: 0 0.5rem;
}

#header #themes-toggle #toggle-buttons {
  background-color: var(--toggle-keys-background);
  margin-top: 0.25rem;
  padding: 0.4rem 0.4rem;
  border-radius: 5rem;
  width: 4.3rem;
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  appearance: none; 
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: 0.3s; 
}

input[type="radio"]:checked {
  background-color: var(--equal-key-background);
}

input[type="radio"]:checked:hover {
  filter: brightness(1.5)
}

/* Display */

#display {
  width: 100%;
  height: 4.5rem;
  background-color: var(--display-background);
  padding: 1.2rem 1.1rem;
  border-radius: 0.5rem;
  color: var(--other-text);
  font-weight: 700;
  font-size: 2.2rem;
  text-align: right;
  margin-bottom: 1rem;
}

html[class="theme-2"] #display {
  color: var(--main-text);
}

/* Keypad */

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
  width: 100%;
  background-color: var(--toggle-keys-background);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#keys button {
  background-color: var(--main-key-background);
  text-align: center;
  color: var(--main-text);
  border-radius: 0.5rem;
  border-style: none;
  border-bottom: 0.25rem solid var(--main-key-outline);
  font-size: 1.75rem;
  font-weight: 700;
  font-family: 'League Spartan';
  padding: 0.65rem 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: filter 0.3s;
}

html[class="theme-3"] #keys button {
  color: var(--main-text);
}

#keys .last-row {
  grid-column: span 2;
}

#keys button:hover {
  filter: brightness(1.2);
}

#keys button:active {
  transform: translateY(2px);
}

#keys :nth-child(4), div#keys :nth-child(17) {
  background-color: var(--other-key-background);
  border-bottom-color: var(--other-key-outline);
  color: var(--other-text);
  font-size: 1.5rem;
}

#keys :nth-child(18) {
  background-color: var(--equal-key-background);
  border-bottom-color: var(--equal-key-outline);
  color: var(--other-text);
}

html[class="theme-3"] #keys :nth-child(18) {
  color: var(--other-text-equals);
}